models/Docking_Energy30RMSD2.5/best_model.h5
models/Scoring_Energy02RMSD2.0/best_model.h5
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
aqdnet.egg-info/
predictions.csv
predict_features.csv
